html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

.sidebar {
    grid-column: 1 / 5;
    grid-row: 1 / 25;
    background-color: lightblue;
}

.header {
    grid-column: 5 / 25;
    grid-row: 1 / 4;
    background-color: lightcoral;
}

.content {
    grid-column: 5 / 25;
    grid-row: 4 / 25;
    display: grid;
    background-color: goldenrod;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    gap: 16px;
}

.projects {
    grid-column: 1 / 18;
    grid-row: 1 / 25;
}

.projects-content {
    display: grid;
    gap: 16px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.project {
    background-color: white;
    border-radius: 10px;
}

.announcements {
    grid-column: 18 / 25;
    grid-row: 1 / 18;
}

.announcements-content {
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
}

.trending {
    grid-column: 18 / 25;
    grid-row: 18 / 25;
}


